<% provide :title, '新規ユーザー登録' %>

<div class="container user_form">
  <%= render "devise/shared/notice_alert" %>
  <h2 class="form_title">新規ユーザー登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name, 'ユーザー名（10文字以内）' %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', required: 'required' %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, autocomplete: 'email', class: 'form-control', required: 'required' %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'パスワード（8文字以上）' %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', required: 'required', minlength: '8' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, '確認用パスワード' %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', required: 'required' %>
    </div>

    <div class="actions">
      <%= f.submit '新規登録', class: 'btn btn-primary user_form_btn' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>