<%= render "shared/error_messages" %>

<div class="p-comment__formBox">
  <p class="p-comment__formTitle">コメントを入力（１５０文字以内）</p>
  <%= form_with model: comment do |f| %>
    <%= f.hidden_field :post_id %>
    <div class="form-group">
      <%= f.text_area :comment, class: 'form-control', rows: 6 %>
    </div>
    <%= f.submit '送信', class: 'btn btn-primary' %>
  <% end %>
</div>