<% provide :title, 'プロフィール編集' %>

<div class="container user_form">
  <%= render "shared/error_messages" %>

  <h2 class="form_title mt-3">プロフィール編集</h2>

  <%= form_for @user do |f| %>
    <div class="text-center mb-3">
      <%= f.label :avatar do %>
        <img id="avatar_img_prev" src="#" class='hidden rounded-circle z-depth-0 mb-4' style="width: 200px; height: 200px; object-fit: cover; cursor: pointer;" alt="avatar image"/>
        <%= f.file_field :avatar %>
        <% if @user.avatar? %>
          <%= f.label :avatar do %>
            <%= image_tag(@user.avatar.url, size: "200x200", class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
          <% end %>
        <% else %>
          <%= f.label :avatar do %>
            <%= image_tag("no-avatar.png", size: "200x200", class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'ユーザー名（10文字以内）' %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', required: 'required' %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, autocomplete: 'email', class: 'form-control', required: 'required' %>
    </div>

    <div class="form-group">
      <%= f.label :profile, '自己紹介（１５０文字以内）' %>
      <%= f.text_area :profile, class: 'form-control', rows: 5 %>
    </div>

    <div class="text-right">
      <%= link_to 'キャンセル', user_path(current_user), class:'btn btn-outline-dark user_form_btn' %>
      <%= f.submit '変更を保存する', class: 'btn btn-primary user_form_btn' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#avatar_img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#user_avatar").change(function(){
      $('#avatar_img_prev').removeClass('hidden');
      $('.avatar_present_img').remove();
      readURL(this);
    });
  });
</script>