<% provide :title, 'マイページ' %>

<div class="container mt-5">
  <div class="row mx-auto" style="max-width: 700px;">
    <div class="pr-5 col-sm-5">
      <% if @user.avatar? %>
        <%= image_tag(@user.avatar.url, size: "250x250", class: "rounded-circle z-depth-0", alt: "avatar image") %>
      <% else %>
        <%= image_tag("no-avatar.png", size: "250x250", class: "rounded-circle z-depth-0", alt: "avatar image") %>
      <% end %>
    </div>
    <div class="d-flex flex-column mt-3 col-sm-7">
      <div class="user-name font-weight-bold pb-2">
        <%= @user.name %>
      </div>
      <div class="user-menu pb-2">
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to 'プロフィール編集', edit_user_path(current_user), class:'btn btn-outline-dark' %>
        <% else %>
          <%= link_to 'フォローする', edit_user_path(current_user), class:'btn btn-outline-dark' %>
        <% end %>
      </div>
      <div class="user-profile" style="width: 400px; height: 140px; overflow: hidden;">
        <%= simple_format(@user.profile) %>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs justify-content-center mt-3">
    <li class="nav-item">
      <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true"><%= '投稿 ' + @user.posts.count.to_s(:delimited) %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">フォロー</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">フォロワー</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="false">いいね</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
      <% if @user.posts.any? %>
        <%= render partial: 'show_posts', locals: { posts: @posts } %>
      <% else %>
        <div class="no-contents d-flex justify-content-center align-items-center">
          投稿がありません
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
      <div class="no-contents d-flex justify-content-center align-items-center">
        誰もフォローしていません
      </div>
    </div>
    <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
      <div class="no-contents d-flex justify-content-center align-items-center">
        フォローされていません
      </div>
    </div>
    <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
      <div class="no-contents d-flex justify-content-center align-items-center">
        いいね！ した投稿がありません
      </div>
    </div>
  </div>
</div>
