<% provide :title, 'マイページ' %>

<div class="container mt-5">
  <div class="row mx-auto" style="max-width: 700px;">
    <div class="pr-5 col-md-5">
      <% if @user.avatar? %>
        <%= image_tag(@user.avatar.to_s, size: '250x250', class: 'rounded-circle d-none d-md-inline', alt: 'avatar image') %>
        <%= image_tag(@user.avatar.to_s, size: '200x200', class: 'rounded-circle d-inline d-md-none', alt: 'avatar image') %>
      <% else %>
        <%= image_tag('no-avatar.png', size: '250x250', class: 'rounded-circle d-none d-md-inline', alt: 'avatar image') %>
        <%= image_tag('no-avatar.png', size: '200x200', class: 'rounded-circle d-inline d-md-none', alt: 'avatar image') %>
      <% end %>
    </div>
    <div class="d-flex flex-column mt-3 col-md-7">
      <div class="user-name font-weight-bold pb-2">
        <%= @user.name %>
      </div>
      <div class="user-menu pb-2">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <% if @user.admin? || @user.guest? %>
            <!-- なにも表示しない -->
          <% else %>
            <%= link_to 'このユーザーを削除する', @user, method: :delete, data: { confirm: 'このユーザーを削除しますか？' }, class:'btn btn-outline-dark' %>
          <% end %>
        <% else %>
          <% if current_user.id == @user.id %>
            <%= link_to 'プロフィール編集', edit_user_path(current_user), class:'btn btn-outline-dark' %>
          <% else %>
            <%= render 'follow_area', user: @user %>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <div class="user-profile" style="max-width: 400px; max-height: 140px; overflow: hidden;">
        <%= simple_format(@user.profile) %>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs justify-content-center mt-3">
    <li class="nav-item">
      <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
        <div class="user-status">
          <span class="status-name">投稿</span>
          <div class="status-value"><%= @user.posts.count.to_s(:delimited) %></div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="followings-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="true">
        <div class="user-status">
          <span class="status-name">フォロー</span>
          <div class="status-value" id="followings_<%= @user.id %>">
            <%= @user.followings.count.to_s(:delimited) %>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="followers-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="true">
        <div class="user-status">
          <span class="status-name">フォロワー</span>
          <div class="status-value" id="followers_<%= @user.id %>">
            <%= @user.followers.count.to_s(:delimited) %>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="likes-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="true">
        <div class="user-status">
          <span class="status-name">いいね</span>
          <div class="status-value"><%= @user.like_posts.count.to_s(:delimited) %></div>
        </div>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="posts-tab">
      <% if @user.posts.any? %>
        <div id="show-posts">
          <%= render 'show_posts', objects: @posts %>
        </div>
      <% else %>
        <div class="no-contents d-flex justify-content-center align-items-center">
          投稿がありません
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="followings-tab">
      <% if @user.followings.any? %>
        <%= render 'show_follows', objects: @followings %>
      <% else %>
        <div class="no-contents d-flex justify-content-center align-items-center">
          誰もフォローしていません
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="followers-tab">
      <% if @user.followers.any? %>
        <%= render 'show_follows', objects: @followers %>
      <% else %>
        <div class="no-contents d-flex justify-content-center align-items-center">
          フォローされていません
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="likes-tab">
      <% if @user.like_posts.any? %>
        <div id="show-likes">
          <%= render 'show_posts', objects: @like_posts %>
        </div>
      <% else %>
        <div class="no-contents d-flex justify-content-center align-items-center">
          いいね！ した投稿がありません
        </div>
      <% end %>
    </div>
  </div>
</div>