<% provide :title, 'マイページ' %>

<div class="container mt-5">
  <div class="row mx-auto" style="max-width: 700px;">
    <div class="d-none d-md-block pr-5">
      <% if @user.avatar? %>
        <%= image_tag(@user.avatar.url, size: "250x250", class: "rounded-circle z-depth-0", alt: "avatar image") %>
      <% else %>
        <%= image_tag("no-avatar.png", size: "250x250", class: "rounded-circle z-depth-0", alt: "avatar image") %>
      <% end %>
    </div>
      <div class="d-flex flex-column mt-3">
        <div class="user-name font-weight-bold">
          <%= @user.name %>
        </div>
        <div class="user-menu">
          <% if user_signed_in? && current_user.id == @user.id %>
            <%= link_to 'プロフィール編集', edit_user_path(current_user), class:'btn btn-outline-dark' %>
          <% end %>
        </div>
        <div class="user-profile" style="width: 400px; height: 190px; overflow: hidden;">
          <%= simple_format(@user.profile) %>
        </div>
      </div>

  </div>
</div>