<div class="container post_form">
  <%= render "shared/error_messages" %>
  <div class="d-flex align-items-center">
    <h2 class="form_title"><%= form_title %></h2>
    <%= link_to '戻る', :back, class:'btn btn-outline-dark ml-auto' %>
  </div>
  <%= form_with model: post do |f| %>
    <div class="form-group row">
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'custom-file-input' %>
      <div class="col-md-6 add_image text-center" id="img_field" onClick="$('#post_image').click()">
        <% if post.image.url.present? %>
          <%= image_tag(post.image.url) %>
        <% else %>
          <i class="fas fa-camera"><p class="help-block">※ 5MBまでの画像をアップロードできます</p></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.label :caption, 'キャプション（３００文字以内）' %>
        <%= f.text_area :caption, class: 'form-control', rows: 12, placeholder: '説明を入力してください' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class="col-md-6">
        <table>
          <tr>
            <td style="width: 45%;">
              <%= f.label :prefecture_id, '都道府県' %>
              <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください', selected: post.prefecture_id }, { class: "form-control input-sm" }) %>
            </td>
            <td style="width: 55%; padding-left: 10px;">
              <div id="cities_select">
                <%= render partial: 'cities', locals: { prefecture_id: post.prefecture_id } %>
              </div>
            </td>
          </tr>
        </table>

      </div>
      <div class='col-md-6'>
        <%= f.label :weather, '天気（今の天気は？）' %>
        <%= f.select :weather, options_for_select(@weathers, post[:weather]), { prompt: '選択してください' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class='form-group row'>
      <div class="col-md-6">
        <%= f.label :feeling, '体感（今の体感は？）' %>
        <%= f.select :feeling, options_for_select(@feelings, post[:feeling]), { prompt: '選択してください' }, { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.label :expectation, '予想（数時間後は？）' %>
        <%= f.select :expectation, options_for_select(@expectations, post[:expectation]), { prompt: '選択してください' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center col-lg-4 col-md-6 mx-auto mb-3">
        <%= f.submit form_button, class: 'btn btn-primary form-control' %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルサイズは5MB以下にしてください。');
    }
  });

  // 画像プレビューを表示
  $(function(){
    $fileField = $('#post_image')
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
</script>