<div class="container post_form">
  <%= render "shared/error_messages" %>
  <h2 class="form_title"><%= form_title %></h2>
  <%= form_with model: post do |f| %>
    <div class="form-group row">
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'custom-file-input' %>
      <div class="col-md-6 add_image text-center" id="img_field" onClick="$('#post_image').click()">
        <% if post.image.url.present? %>
          <%= image_tag(post.image.url) %>
        <% else %>
          <i class="fas fa-camera"><p class="help-block">※ 5MBまでの画像をアップロードできます</p></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.label :caption, 'キャプション（３００文字以内）' %>
        <%= f.text_area :caption, class: 'form-control', rows: 12, placeholder: '説明を入力してください。' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class="col-md-6">
        <label for="place">場所</label>
        <input type="text" id="place" class="form-control" placeholder="東京都渋谷区" >
      </div>
      <div class='col-md-6'>
        <%= f.label :weather, '天気（今の天気は？）' %>
        <%= f.text_field :weather, class: 'form-control', placeholder: '快晴, 晴れ, 曇り, 雨, 雪 etc.' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class="col-md-6">
        <%= f.label :feeling, '体感（今の体感は？）' %>
        <%= f.text_field :feeling, class: 'form-control', placeholder: '暑い, 暖かい, ちょうどいい, 寒い, あてはまらない etc.' %>
      </div>
      <div class='col-md-6'>
        <%= f.label :expectation, '予想（数時間後は？）' %>
        <%= f.text_field :expectation, class: 'form-control', placeholder: '今と変化なさそう, 回復しそう, 下り坂になりそう etc.' %>
      </div>
    </div>
    <%= submit_tag '投稿する', class: 'btn btn-primary mb-3' %>
  <% end %>
</div>



<script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルサイズは5MB以下にしてください。');
    }
  });


  $(function(){
    $fileField = $('#post_image')

    // 選択された画像を取得し表示
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            // width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });

</script>