<% provide :title, 'みんなの天気' %>
<% if flash[:success] %>
  <div class="time-limit alert alert-primary"><%= flash[:success] %></div>
<% end %>

<div class="container">
  <h2 class="text-center font-weight-bold my-4">みんなの天気</h2>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-4">
        <div class="card">
          <%= image_tag "weather01.jpg", alt: "天気の画像", id: "pic1", class: "weather_image" %>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= simple_format(post.body) %></p>
            <%= link_to '詳細', post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>