<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <%= image_tag 'logo_sun01.png', class: 'navbar-logo' %>
  <a class="navbar-brand" href="/">Every-Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= header_link_item(icon('fas', 'th') + ' 投稿一覧', root_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item(icon('fas', 'edit') + ' 新規投稿', new_post_path) %>
      </li>
      <li class="nav-item">
        <!-- <%= link_to icon('fas', 'user-plus') + " #{current_user.name}さん", '', class: 'nav-link dropdown-toggle' %> -->
        <%= header_link_item(icon('fas', 'user') + ' マイページ', user_path(current_user)) %>
        <%= header_link_item(icon('fas', 'sign-out-alt') + ' ログアウト', logout_path) %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= header_link_item(icon('fas', 'th') + ' 投稿一覧', root_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item(icon('fas', 'sign-in-alt') + ' ログイン', login_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item(icon('fas', 'user-plus') + ' 新規登録', signup_path) %>
      </li>
    <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="キーワードで検索" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
  </div>
</nav>